@model IEnumerable<OnlineProdajaPica.ViewModels.OrdersViewModel>

@{
    ViewBag.Title = "Index";
    string boja;
}

<h2>Narudžbe</h2>

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            Narudžba
        </th>
        <th>
            Vrijeme narudžbe
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if(item.Dostavljeno)
        {
            boja = "#6AF538";
        }else{
            boja = "#F5D26A";
        }
        <tr style="background-color:@boja">
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @foreach (var product in item.Products)
                {
                    <p>@product.Name - @product.Quantity</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumNarudzbe)
            </td>
            <td>
                @Html.ActionLink("Opširnije", "Details", new { id=item.Id }, new {@class="btn btn-secondary"})
                @if(!item.Dostavljeno){
                    <br />
                    @Html.ActionLink("Označi kao dostavljeno", "MarkAsDelivered", new { id=item.Id }
                        , new {@class="btn btn-primary", @style="margin-top:5px;"})
                } 
                else
                {
                    <br />
                    @Html.ActionLink("Dostavljeno", "MarkAsDelivered", new { id=item.Id }
                        , new {@class="btn btn-primary disabled", @style="margin-top:5px;"})
                }
            </td>
        </tr>
    }

</table>